<div class="top-nav-bar">
     <div class="search-box">  
        <i class="material-icons" id="menu-btn" onclick="openmenu()">menu</i>
        <i class="material-icons" id="close-btn "onclick="oclosemenu()">menu</i>
        <!-- <img class="logo" src="https://previews.123rf.com/images/arbuzu/arbuzu1502/arbuzu150200041/36353973-letter-e-logo-icon-design-template-elements.jpg"> -->
        <input type="text" class="form-control">
        <span class="input-group-text"> <i class="material-icons">search</i></span> 

</div> 
<section class="header">
    <div class="side-menu" id="side-menu">
        <ul>
            <li>On Sale
                <!--<i class="material-icons">keyboard_arrow_right</i> -->
                <ul>
                    <li>Upto20% </li>
                    <li>Upto 25% </li>
                    <li>Upto 50% </li>
                    <li>First time on SALE!! </li>
                </ul>
            </li>
            <li>Electronics
                <!--<i class="material-icons">keyboard_arrow_right</i> -->
                <ul>
                    <li>Mobiles</li>
                    <li>Laptops </li>
                    <li>Washing Machines </li>
                    <li>Air Conditioners</li>
                </ul>
            </li>
            <li>Fashion
                <!--<i class="material-icons">keyboard_arrow_right</i> -->
                <ul>
                    <li>Kids Wear </li>
                    <li>Ethnic Wear </li>
                    <li>Western Wear </li>
                    <li>Daily Wear </li>
                </ul>
            </li>
            <li>Accessories
                <!--<i class="material-icons">keyboard_arrow_right</i> -->
                <ul>
                    <li>Ear Tops </li>
                    <li>Braclets</li>
                    <li>Chains </li>
                    <li>Hair Accessories </li>
                </ul>
            </li>
        </ul>
    </div>
</section>
</div>

    <!-- <section class="header ">
        <div class="side-menu dropdown-toggle" id="side-menu" data-toggle="collapse" aria-expanded="false" >
            <ul>
                <li>On Sale<i class="material-icons">keyboard_arrow_right</i>
                 <ul>
                       <li>Upto20% </li>
                       <li>Upto 25% </li>
                       <li>Upto 50% </li>
                       <li>First time on SALE!! </li>
                 </ul>
                </li>
                <li>Electronics<i class="material-icons">keyboard_arrow_right</i>
                    <ul>
                        <li>Mobiles</li>
                        <li>Laptops </li>
                        <li>Washing Machines </li>
                        <li>Air Conditioners</li>
                    </ul>
                </li>
                <li>Fashion<i class="material-icons">keyboard_arrow_right</i>
                    <ul>
                        <li>Kids Wear </li>
                        <li>Ethnic Wear </li>
                        <li>Western Wear </li>
                        <li>Daily Wear </li>
                    </ul>
                </li>
                <li>Accessories<i class="material-icons">keyboard_arrow_right</i>
                    <ul>
                        <li>Ear Tops </li>
                        <li>Braclets</li>
                        <li>Chains </li>
                        <li>Hair Accessories </li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
     </div> 
     </nav> -->